body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  width: 768px;
  margin: 30px auto;
}
.carousel-container{
  overflow: hidden;
}
.carousel{
  display: inline-flex;
  cursor: pointer;
}
.carousel img{
  width: 305px;
  height: 550px;
  pointer-events: none;
}